In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Bengaluru_House_Data[1].csv")

In [3]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
df.tail()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.0
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.0
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.0
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.0
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.0

In [5]:
df.shape

(13320, 9)

In [6]:
df.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [7]:
df['availability'].value_counts()

availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64

In [8]:
df['location'].value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64

In [9]:
df['total_sqft'].value_counts()

total_sqft
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: count, Length: 2117, dtype: int64

In [10]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [11]:
df.drop(columns=['society','balcony','area_type','availability'],inplace=True)

In [12]:
df.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [14]:
df['location'].value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64

In [15]:
df['location']=df['location'].fillna('Sarjapur Road')

In [16]:
df['size'].value_counts()

size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64

In [17]:
df['size']=df['size'].fillna('2BHK')

In [18]:
df['bath']=df['bath'].fillna(df['bath'].median())

In [19]:
df.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [20]:
df.dtypes

location       object
size           object
total_sqft     object
bath          float64
price         float64
dtype: object

In [21]:
df['bhk']=df['size'].str.split().str.get(0)
def convert_to_int(value):
    try:
        return int(value)
    except ValueError:
        return None

df['bhk'] = df['bhk'].apply(convert_to_int)

In [22]:
df['bhk'].value_counts()

bhk
2.0     5528
3.0     4857
4.0     1417
1.0      656
5.0      356
6.0      221
7.0      100
8.0       89
9.0       54
10.0      14
11.0       4
27.0       1
19.0       1
16.0       1
43.0       1
14.0       1
12.0       1
13.0       1
18.0       1
Name: count, dtype: int64

In [23]:
df[df['bhk']>20]

                       location        size total_sqft  bath  price   bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0  27.0
4684                Munnekollal  43 Bedroom       2400  40.0  660.0  43.0

In [24]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [25]:
def convertRange(x):

    temp = x.split("-")
    if len(temp)==2:
        return (float(temp[0])+float(temp[1]))/2
    try:
        return float(x)
    except:
        return None

In [54]:
convertRange('333 - 333')

333.0

In [26]:
df['total_sqft']=df['total_sqft'].apply(convertRange)

In [27]:
df.head()

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07  2.0
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00  4.0
2               Uttarahalli      3 BHK      1440.0   2.0   62.00  3.0
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00  3.0
4                  Kothanur      2 BHK      1200.0   2.0   51.00  2.0

# price per square feet

In [28]:
df['price per square feet'] = df['price']*100000/df['total_sqft']

In [29]:
df['price per square feet']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: price per square feet, Length: 13320, dtype: float64

In [30]:
df.describe()

,total_sqft,bath,price,bhk,price per square feet
count,13274.000000,13320.000000,13320.000000,13304.000000,1.327400e+04
mean,1559.626694,2.688814,112.565627,2.803743,7.907501e+03
std,1238.405258,1.338754,148.971674,1.294974,1.064296e+05
min,1.000000,1.000000,8.000000,1.000000,2.678298e+02
25%,1100.000000,2.000000,50.000000,2.000000,4.266865e+03
50%,1276.000000,2.000000,72.000000,3.000000,5.434306e+03
75%,1680.000000,3.000000,120.000000,3.000000,7.311746e+03
max,52272.000000,40.000000,3600.000000,43.000000,1.200000e+07

In [31]:
df['location'].value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Uvce Layout                         1
Abshot Layout                       1
Name: count, Length: 1306, dtype: int64

In [32]:
df['location'] = df['location'].apply(lambda x: x.strip())

In [33]:
location_count = df['location'].value_counts()

In [34]:
location_count

location
Whitefield                            541
Sarjapur  Road                        399
Electronic City                       304
Kanakpura Road                        273
Thanisandra                           237
                                     ...
1Channasandra                           1
Hosahalli                               1
Vijayabank bank layout                  1
near Ramanashree California resort      1
Abshot Layout                           1
Name: count, Length: 1295, dtype: int64

In [36]:
location_count_less_10 = location_count[location_count<=10]

In [37]:
location_count_less_10

location
BTM 1st Stage                         10
Nagadevanahalli                       10
Basapura                              10
Sector 1 HSR Layout                   10
Dairy Circle                          10
                                      ..
1Channasandra                          1
Hosahalli                              1
Vijayabank bank layout                 1
near Ramanashree California resort     1
Abshot Layout                          1
Name: count, Length: 1054, dtype: int64

In [38]:
df['location'] = df['location'].apply(lambda x: 'other' if x in location_count_less_10 else x)

In [39]:
df['location'].value_counts()

location
other                 2886
Whitefield             541
Sarjapur  Road         399
Electronic City        304
Kanakpura Road         273
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: count, Length: 242, dtype: int64

# outlier Detection and Removal

In [44]:
df.describe()

,total_sqft,bath,price,bhk,price per square feet
count,13274.000000,13320.000000,13320.000000,13304.000000,1.327400e+04
mean,1559.626694,2.688814,112.565627,2.803743,7.907501e+03
std,1238.405258,1.338754,148.971674,1.294974,1.064296e+05
min,1.000000,1.000000,8.000000,1.000000,2.678298e+02
25%,1100.000000,2.000000,50.000000,2.000000,4.266865e+03
50%,1276.000000,2.000000,72.000000,3.000000,5.434306e+03
75%,1680.000000,3.000000,120.000000,3.000000,7.311746e+03
max,52272.000000,40.000000,3600.000000,43.000000,1.200000e+07

In [42]:
(df['total_sqft']/df['bhk']).describe()

count    13258.000000
mean       574.420590
std        387.584212
min          0.250000
25%        473.333333
50%        552.250000
75%        625.000000
max      26136.000000
dtype: float64

In [55]:
df=df[((df['total_sqft']/df['bhk'])>=300)]

# or df5  = df4[~(df4.total_sqft/df4.bhk < 300)]

In [56]:
df.describe()

,total_sqft,bath,price,bhk,price per square feet
count,12514.000000,12514.000000,12514.000000,12514.000000,12514.000000
mean,1593.746383,2.560253,111.398333,2.651670,6307.367132
std,1261.351669,1.078441,152.098807,0.977025,4160.773691
min,300.000000,1.000000,9.000000,1.000000,267.829813
25%,1116.000000,2.000000,49.000000,2.000000,4210.762120
50%,1300.000000,2.000000,70.000000,3.000000,5295.073227
75%,1700.000000,3.000000,115.000000,3.000000,6916.666667
max,52272.000000,16.000000,3600.000000,16.000000,176470.588235

In [50]:
df.shape

(12514, 7)

In [60]:
def remove_outliers_sqft(df):
    df_out = pd.DataFrame()
    for key, subdf in df.groupby('location'):
        m = np.mean(subdf['price per square feet'])  # Fixed syntax here
        
        st = np.std(subdf['price per square feet'])  # Fixed syntax here
        reduced_df = subdf[(subdf['price per square feet'] > (m - st)) & (subdf['price per square feet'] <= (m + st))]  # Fixed syntax here
        df_out = pd.concat([df_out, reduced_df], ignore_index=True)
    return df_out
df = remove_outliers_sqft(df)

In [61]:
df.describe()

,total_sqft,bath,price,bhk,price per square feet
count,10287.000000,10287.000000,10287.000000,10287.000000,10287.000000
mean,1507.548674,2.471663,91.250302,2.574900,5659.971734
std,879.955401,0.979644,86.316523,0.898074,2265.519556
min,300.000000,1.000000,10.000000,1.000000,1250.000000
25%,1109.000000,2.000000,49.000000,2.000000,4250.000000
50%,1285.000000,2.000000,67.000000,2.000000,5176.470588
75%,1650.000000,3.000000,100.000000,3.000000,6428.571429
max,30400.000000,16.000000,2200.000000,16.000000,24509.803922

In [63]:
def remove_bhk_outliers(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df['price per square feet']),  # Fixed syntax here
                'std': np.std(bhk_df['price per square feet']),    # Fixed syntax here
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count'] > 5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df['price per square feet'] < (stats['mean'])].index.values)  # Fixed syntax here
    return df.drop(exclude_indices, axis='index')
df = remove_bhk_outliers(df)

In [65]:
df.shape

(7354, 7)

In [66]:
df

,location,size,total_sqft,bath,price,bhk,price per square feet
0,1st Block Jayanagar,4 BHK,2850.0,4.0,428.0,4.0,15017.543860
1,1st Block Jayanagar,3 BHK,1630.0,3.0,194.0,3.0,11901.840491
2,1st Block Jayanagar,3 BHK,1875.0,2.0,235.0,3.0,12533.333333
3,1st Block Jayanagar,3 BHK,1200.0,2.0,130.0,3.0,10833.333333
4,1st Block Jayanagar,2 BHK,1235.0,2.0,148.0,2.0,11983.805668
...,...,...,...,...,...,...,...
10278,other,2 BHK,1200.0,2.0,70.0,2.0,5833.333333
10279,other,1 BHK,1800.0,1.0,200.0,1.0,11111.111111
10282,other,2 BHK,1353.0,2.0,110.0,2.0,8130.081301
10283,other,1 Bedroom,812.0,1.0,26.0,1.0,3201.970443
10286,other,4 BHK,3600.0,5.0,400.0,4.0,11111.111111

In [67]:
df.drop(columns=['size','price per square feet'],inplace = True)

# Cleaned Data

In [68]:
df.head()

              location  total_sqft  bath  price  bhk
0  1st Block Jayanagar      2850.0   4.0  428.0  4.0
1  1st Block Jayanagar      1630.0   3.0  194.0  3.0
2  1st Block Jayanagar      1875.0   2.0  235.0  3.0
3  1st Block Jayanagar      1200.0   2.0  130.0  3.0
4  1st Block Jayanagar      1235.0   2.0  148.0  2.0

In [69]:
df.to_csv("Cleaned_dat.csv")

In [70]:
x = df.drop(columns=['price'])
y = df['price']

In [72]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=10)

In [78]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [79]:
x_train.shape

(5883, 4)

In [81]:
x_test.shape

(1471, 4)

In [82]:
column_trans = make_column_transformer((OneHotEncoder(sparse = False),['location']),remainder='passthrough')

In [83]:
scaler = StandardScaler()

In [85]:
lr = LinearRegression()

In [86]:
pipe = make_pipeline(column_trans,scaler,lr)

In [87]:
pipe.fit(x_train,y_train)

C:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [88]:
y_pred_lr = pipe.predict(x_test)

In [90]:
r2_score(y_test,y_pred_lr)

0.8638028518144584

# Applying Lasso

In [91]:
lasso = Lasso()

In [92]:
pipe = make_pipeline(column_trans,scaler,lasso)

In [93]:
pipe.fit(x_train,y_train)

C:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [94]:
y_pred_lasso = pipe.predict(x_test)

In [95]:
r2_score(y_test,y_pred_lasso)

0.850815887414631

# Applying Ridge

In [96]:
ridge = Ridge()

In [97]:
pipe = make_pipeline(column_trans,scaler,ridge)

In [98]:
pipe.fit(x_train,y_train)

C:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [99]:
y_pred_ridge = pipe.predict(x_test)

In [100]:
r2_score(y_test,y_pred_ridge)

0.8637273120518303

In [102]:
print("No reguarlization", r2_score(y_test,y_pred_lr))
print("Lasso", r2_score(y_test,y_pred_lasso))
print("Ridge", r2_score(y_test,y_pred_ridge))

No reguarlization 0.8638028518144584
Lasso 0.850815887414631
Ridge 0.8637273120518303

In [103]:
import pickle

In [104]:
pickle.dump(pipe,open('RidgeModel.pkl','wb'))